extends layouts/main.pug 
block content 
    .form-container 
        form(action=`/users${routes.changePassword}`, method="post") 
            input(type="pasword", name="oldPassword", placeholder="Current Password")
            input(type="pasword", name="newPassword", placeholder="New Password")
            input(type="pasword", name="newPassword", placeholder="Verify New Password")